name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        image-name: ${{ fromJson(vars.IMAGE_NAMES_JSON) }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: package.json
      - run: yarn install
      - name: Run tests for '${{ matrix.image-name }}'
        shell: bash
        run: make IMAGE_NAME=${{ matrix.image-name }} devcontainer/test

  release:
    name: Release
    needs: [test]
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    permissions:
      contents: write
      issues: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: yarn
          cache-dependency-path: yarn.lock
          node-version-file: package.json
      - run: yarn install
      - name: Run semantic-release
        run: yarn semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
